<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
  <title>Freelancing Website</title>
  <style>
    dd {
      display: block;
      margin-left: 40px;
    }
  </style>
</head>
<body>
  <p>Welcome to Freelancing Site</p>

  <div>
    {% if not user.username %}
      <p>
        <a href="/login/">Login</a>
        <dd><a href="/recruitersignup/">Signup as a Recruiter</a></dd>
        <dd><a href="/freelancesignup">Signup as a Freelancer</a></dd>
      </p>
      <div>
        <h3>Our Top Talents</h3>
        {% for freelancer in freelancers %}
          <li>{{ freelancer }}</li>
        {% endfor %}
      </div>

      <div>
        <h3>Clients</h3>
        {% for company in companies %}
          <li>{{ company }}</li>
        {% endfor %}
      </div>

    {% else %}

      <a href="/logout/">Logout</a>
      <p>{{ usertype }}</p>
      <div>
        <dl>
          {% if usertype == 'recruiter' %}
            <dd><a href="/hire/">Hire Top Talent</a></dd>
            <dd><a href="/job-posting/">Post a Job</a></dd>
          {% elif usertype == 'freelancer' %}
            <dd><a href="/freelance/">Search Jobs that match your interests</a></dd>
          {% endif %}
        </dl>
      </div>
    {% endif %}
  </div>
</body>
</html>
